/*=============== GOOGLE FONTS ===============*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600&display=swap');

/*=============== TAILWIND ===============*/
/* @import 'tailwindcss' prefix(tw); */

/*=============== VARIABLES CSS ===============*/
:root {
  /*========== Colors ==========*/
  --first-color: #abfa00;
  --first-color-light: #fafff0;
  --second-color: #00d4ff;
  --second-color-light: #e3faff;
  --third-color: #ffd803;
  --third-color-light: #fff9e6;
  --fourth-color: #ff00ff;
  --fourth-color-light: #fff0ff;

  --gray-color-light: #8a8a8a;
  --gray-color-normal: #525252;
  --gray-color-dark: #252525;
  --black-color: #020202;

  --logo-color: #6662ff;
  --logo-color-light: #7473ff;
  --bg-color: #101828;
  --bg-color-light: #182338;

  /*========== Font and typography ==========*/
  --body-font: 'Poppins', sans-serif;
  --large-font-size: 2rem;
  --normal-font-size: 1.25rem;
  --small-font-size: 1rem;
  --tiny-font-size: 0.5rem;
}

body {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
}
